# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Виртуальное окружение
venv/
env/
ENV/
.venv/

# Токены и секреты
token.txt
*.env
*.key
*.pem

# Временные файлы
*.tmp
*.xlsm
*.xlsx
*.pnp
temp/
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo